@import "bootstrap";

$background-color: #EEEEEE;
$primary-color: #3F51B5;
$light-primary-color: #C5CAE9;
$dark-primary-color: #303F9F;

$font-primary-color: #212121;
$font-color: #ffffff; // contrast with primary-color



$main-color: #673AB7;
$light-main-color: #D1C4E9;
$secondary-color: #727272;
$light-grey: #F4F4F4;

@mixin box-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

//  UNIVERSAL
//  --------------------------------------------

body {
  background-color: $background-color;
  color: $font-primary-color;
}

h1,h3, label {
  color: $font-primary-color;
}

table {
  @include box-shadow;
  background-color: white;
  border-collapse: collapse;
  margin-top: 15px;
  tr {
    border-top: 1px solid $background-color;
  }
  tr:first-child {
    border: 0;
  }
  a {
    transition: all 0.3s;
    color: $secondary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

.table > tbody > tr {
  td {
    width: 100%;
    border: 0;
  }
  th {
    border: 0;
  }
}

.btn {
  @include box-shadow;
  border-radius: 2px;
  border: 0;
  padding: 10px 20px;
  transition: all 0.3s;
}

.form-control {
  border-radius: 0;
}

.list-group-item {
  border: 0 !important;
  background-color: white;
  border-radius: 0 !important;
  &:hover {
    background-color: $background-color !important;
  }
}

//  HEADER
//  --------------------------------------------

.navbar {
  background-color: $primary-color;
  border-radius: 0;
  border: 0;
  
}

.navbar-default {
  .navbar-brand{
    color: $font-color !important;
  }
  .navbar-nav{
    li {
      a {
        transition: all 0.3s;
        color: $font-color !important;
        &:focus {
          background-color: $dark-primary-color !important;
        }
        &:hover{
          background-color: $dark-primary-color;
        }
      }
    }
  }
}

.dropdown-menu {
  border-radius: 0;
  border: 0;
  background-color: $primary-color;
}


//  CATEGORY INDEX
//  --------------------------------------------

.big-image {
  margin-top: -20px;
  padding: 0;
  background-color: $primary-color;
  img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
  }
}
  
//  USER'S PROFILE PAGE
//  --------------------------------------------

.profile {
  @include box-shadow;
  background-color: white;
  .top-row {
    padding: 15px;
  }
  .activity {
    text-align: center;
    div {
      border-top: 1px solid $background-color; 
      border-right: 1px solid $background-color;
      border-bottom: 0px solid white;
      transition: all 0.3s;
      @media only screen and (min-width : 768px) {
        &:hover {
          box-shadow: 0 -6px #FF5722 inset;
        }
      }
    }
  }
  @media only screen and (max-width : 768px) {
    text-align: center;
  }
}

.reviews-list {
  padding: 0;
  margin-top: 40px;
}
.rating {
    background-color: $primary-color;
    color: white;
    width: 50px;
    text-align: center;
  }

//  PRODUCTS
//  --------------------------------------------

.product-form, .new-review-form {
  @include box-shadow;
  background-color: white;
  margin-top: 66px;
  padding: 10px;
  border: 1px solid $light-grey;
  h3 {
    border-bottom: 1px solid $background-color;
  }
}

.product-index {
  .table > tbody > tr > td {
    width: auto !important;
  }
}