@import "bootstrap";

.profile {
  background-color: #bdbdbd;
  border: 1px solid black;
  img {
    padding: 3px;
    border: 1px solid white;
    background-color: white;
  }
  .activity {
    text-align: center;
    div {
      &:hover {
        background-color: blue;
      }
    }
  }
}

.reviews-list {
  padding: 0;
  margin-top: 40px;
  .rating {
    width: 50px;
    text-align: center;
  }
}
