.category-index
  .col-md-8.col-md-offset-2
    %h1 Listing categories

    %table.table
      %tr
        %th{ colspan: "2" } NAME

      - categories.each do |category|
        %tr
          %td= link_to category.name, category, class: 'list-group-item'
          - if current_user_admin?
            %td.pull-right
              %span= link_to 'Edit', edit_category_path(category)
              \/
              %span= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Category', new_category_path, class: 'btn btn-default' if current_user_admin?
